[submodule "wperf-scripts/tests/telemetry-solution"]
	path = wperf-scripts/tests/telemetry-solution
	url = https://gitlab.arm.com/telemetry-solution/telemetry-solution
[submodule "wperf-scripts/tests/cpython"]
	path = wperf-scripts/tests/cpython
	url = https://github.com/python/cpython.git
