# MSVC temp
.vs
.vs/
.vs/*

*.tmp
*.bak
*.sw[a-z]
*.log

tags

# CLI build directory
wperf/ARM64/
wperf/ARM64/*
wperf/Debug/*
wperf/x64/*

# Release package directory
release/

# Unit test directory
wperf-test/x64/*
x64/*

# Driver build directory
wperf-driver/ARM64/
wperf-driver/ARM64/*
wperf-driver/Debug/*
wperf-driver/x64/*

# Doxygen documentation
docs/*
html/*
latex/*

# wperf-devgen build directory
wperf-devgen/ARM64/
wperf-devgen/ARM64EC/
wperf-devgen/x64/
