[MAIN]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes

# Minimum supported python version
py-version = 3.10.11

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Activate the evaluation score.
score=yes


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=160

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,x,y,z,_

